.loginform-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10vh;
}

.lets-hang {
  font-size: 7rem;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
  margin-top: 38vh;
  color: #77ea7f;
  font-family: "Poiret One", cursive;
}

.loginform-wrapper::after {
  content: "";
  background: url("https://live.staticflickr.com/734/32630070081_3e4538ac69_k.jpg");
  background-position: 65% 35%;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


.loginform__input {
  width: 40%;
  height: 55px;
  border-radius: 40px;
  border: 1px solid #77ea7f;
  background: none;
  margin-bottom: 15px;
  outline: none;
  padding-left: 1%;
  font-size: 1rem;
  color: white;
  &:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    box-shadow: 0 1px 6px 0 rgba(119, 234, 127, 0.78);
    opacity: 1;
  }
}

.loginform__input::placeholder {
  font-size: 1rem;
  color: white;
}

.loginform__submitbtn {
  width: 25%;
  height: 55px;
  border-radius: 40px;
  border: none;
  outline: none;
  margin-top: 10px;
  background-color: #c6ffca;
  font-size: 1rem;
  color: black;
  opacity: .8;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: #77ea7f;
    box-shadow: 0 1px 6px 0 rgba(119, 234, 127, 0.48);
    opacity: 1;
  }
}

.loginform__message {
  color: white;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 20px;
}

.signup-link {
  color: #77ea7f;
  font-weight: 700;
  text-decoration: none;
}
